.gradient-text {
    color: transparent;
    background-image: linear-gradient(to right, #06b6d4, #2563eb); /* adjust colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    
}

.work-text:hover{
    color: transparent;
    background-image: linear-gradient(to right, #06b6d4, #2563eb); /* adjust colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    border: #0077b6 2px solid;
    transition: 100ms;
}

.gradient-text:hover {
    background: linear-gradient(to right,#06b6d4,#2563eb);
    color: white;
    
}

.effect-text{
    color: transparent;
    background-image: linear-gradient(to right, #06b6d4, #2563eb); /* adjust colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
}

